.forgot-page {
  display: flex;
  flex-direction: column; /* ✅ จัดแนวตั้ง */
  align-items: center;
  font-family: "Prompt", sans-serif;
  overflow: hidden;  
}

.logo-forgot {
  width: 250px !important;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  opacity: 0.9;
}

.forgot-from {
  display: flex;
  flex-direction: column;
  align-items: center;      /* ✅ จัดให้อยู่ตรงกลางแนวนอน */
  justify-content: center;  /* ✅ จัดให้อยู่ตรงกลางแนวตั้ง */
  width: 40%;
  border-radius: 20px;
  background: linear-gradient(135deg, #47a6ff, #f8fafc);
  font-family: "Prompt", sans-serif;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.forgot-from h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #222;
}

.forgot-from p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

.forgot-from input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.2s;
  font-size: 14px;
}

.forgot-from input:focus {
  border-color: #4a6cf7;
  box-shadow: 0 0 0 2px rgba(74, 108, 247, 0.2);
  outline: none;
}

.forgot-btn {
  width: 30%;
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s ease;
  margin-top: 5px;
  font-weight: 500;
}

.forgot-btn:hover {
  background: #026dc4;
}

.forgot-btn:active {
  transform: translateY(0px);
  box-shadow: none;
}

.success {
  margin-top: 15px;
  color: #2d9f4a;
  font-size: 17px;
}

.error {
  margin-top: 15px;
  color: #d9534f;
  font-size: 17px;
}